version: '3'

services:
    web:
        image: nginx:alpine
        working_dir: /code
        ports:
            - "8080:80"
        volumes:
            - ./:/code
            - ./docker/site.conf:/etc/nginx/conf.d/default.conf
        
    php:
        image: php:fpm
        working_dir: /code
        volumes:
            - ./:/code