version: '3'

services:
    web:
        build: .
        working_dir: /code
        ports:
            - "8080:80"
        volumes:
            - ./:/code
        
    php:
        image: php:fpm
        working_dir: /code
        volumes:
            - ./:/code