version: '3'

services:
    web:
        build:
            context: "."
            dockerfile: "Dockerfile-nginx"
        working_dir: /code
        ports:
            - "8080:80"
        volumes:
            - ./:/code
        
    php:
        build:
            context: "."
            dockerfile: "Dockerfile-php"
        image: php:fpm
        working_dir: /code
        volumes:
            - ./:/code